@model IEnumerable<IMDB.Models.Actor>

@{
    ViewBag.Title = "Index";
}

<h2>Best Actors</h2>

<p>
    @Html.ActionLink("+ Actor", "Create")
</p>

    <div class="row container tileAlign">
        @foreach (var item in Model)
        {
            <div class="col-md-3 col-sm-offset-3 col-sm-5 colBorder thumbnail">
                <h4>@Html.DisplayFor(modelItem => item.ActorName)</h4>
                <img class="img-responsive" src="http://www.oscars.org/sites/all/themes/oscarbase/images/banner.ampas.jpg"/>
                <div class="caption">
                    <h5>Gender: @Html.DisplayFor(modelItem => item.Gender)</h5>
                    <h5>Date of birth: @Html.DisplayFor(modelItem => item.DOB)</h5>
                    <h5>Nationality: @Html.DisplayFor(modelItem => item.Nationality)</h5>
                    <hr />
                    <p id="details">@Html.ActionLink("Details", "Details", new { id = item.ActorID })</p>
                </div>
                @*<p>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ActorID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ActorID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ActorID })
                </p>*@
            </div>
        }
    </div>
